mixin addToCartBtn(productId)
    form(action="/cart" method="POST") 
        button(class="btn", type="submit") Add to cart
        input(type="hidden" name="productId" value=productId)

mixin detailsBtn(productId)
    form(action=`/products/${productId}` method="POST") 
        button(class="btn", type="submit") Details
        input(type="hidden" name="productId" value=productId)

mixin editBtn(productId)
    form(action=`/admin/edit/${productId}` method="POST") 
        button(class="btn", type="submit") Edit
        input(type="hidden" name="productId" value=productId)

mixin deleteInAdmin(productId)
    form(action=`/admin/delete/${productId}` method="POST") 
        button(class="btn", type="submit") Delete
        input(type="hidden" name="productId" value=productId)

mixin deleteInCart(productId)
    form(action=`/cart/delete/${productId}` method="POST") 
        button(class="btn", type="submit") Delete
        input(type="hidden" name="productId" value=productId)