include ../mixins/buttons.pug

mixin listOfItems(products)
    .grid 
        each item in products 
            article.card.product-item 
                header.card__header 
                    h1.product__title #{item[0].title}
                .card__image 
                    img(src= `${item[0].imageUrl}`)
                .card__content 
                    h2.product__price $#{item[0].price} x #{item[1]}
                    p.product_description #{item[0].desc}
                .card__actions
                    +deleteInCart(item[0].id) 
                        